<html>
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="centered">
        <h1 class="heading">Flask-Boilerplate is successfully configured.</h1>
        <ul class="info">
            <li>Start adding new routes in <em>myapp/home/controller.py</em>.</li>
            <li>Create new blueprints in <em>myapp/</em> directory.</li>
            <li>Add static files in <em>myapp/static/</em> directory.</li>
            <li>Define templates in <em>myapp/templates/</em> directory.</li>
        </ul>
    </div>
</body>
</html>